@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --font--primaria: 'Inter', sans-serif;
    --cor--primaria: #0A3871;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3F5FC ;
    box-sizing: border-box;
}

.icone-alura{
    display: flex;
    bottom: 500px;
    width: 7.5rem;
    height: 3rem;
}

.container{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 85px;
    
}
.container__conteudo{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 50%;
    gap: 40px;
    height: 100vh;
}

.texto-input{
    display: flex;
    position: absolute;
    top: 200px;
    color: var(--cor--primaria);
    font-family: var(--font--primaria);
    font-size: 2rem;
    font-weight: 400;
    border: none;
    background: none;
    width: 42.5rem;
    line-height: 150%;
    gap: 32.5px;
   
}
.texto-input::placeholder{
    color: var(--cor--primaria);
}

.texto-label{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column; 
    background-color: #FFFFFF;
    width: 25rem;
    height: 59rem;
    border-radius: 2rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 1px;


}
.texto-label__subtitulo{
    color:  #343A40;
    text-align: center;
    font-family: var(--font--primaria);
    font-size: 1.5rem;

    font-weight: 700;
    line-height: 120%; 
}
.texto-label__paragrafo{
    color: #495057;
    text-align: center;
    font-family: var(--font--primaria);;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%; 
}

.container__conteudo__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    width: 42.5rem;
    gap: 1.5rem;
}
.criptografar-button{
    font-family: var(--font--primaria);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    margin-top: auto;
    align-items: flex-start;
    justify-content: center;
    width: 20.5rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    gap: 0.5rem;
    color: white;
    background-color: var(--cor--primaria);
}

.descriptografar-button{
    font-family: var(--font--primaria);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    margin-top: auto;
    align-items: flex-start;
    justify-content: center;
    width: 20.5rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    gap: 0.5rem;
    border: 1px solid var(--cor--primaria);
    background: #D8DFE8;
}

.rodape{
    padding: 28px;
    color: #000000;
    background-color: #D8DFE8;
    text-align: center;
    font-family: var(--font--primaria);
    font-size: 1.5rem;
    font-weight: 400;
}
